#Valentine{
    
    background-image: url(/img/head.jpg);
}

#Valentine h2{
    
    color:black;
    font-size: 3em;
    text-align: center;
}

#Valentine nav ul{
    
    text-align: center;
    font-size: 1.2em;
}

#navi

