
/*========================navigation=================*/

#Valentine{
    text-align: center;
    background-image: url(/img/head.jpg);
}

#Valentine h2{
    
    color:black;
    font-size: 3em;
    text-align: center;
}

#Valentine nav ul{
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
}

#navi {
    margin: 0 auto;
    text-align: center;
}
/*=================navigation end=================*/


/*------------

----portfolio slider-------------------*/




/*-----------------portfolio slider end-------------------*/